*{
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
}

.shop--contener{
    display: flex;
    gap: 30px;

    &--aside{
        color: #565656;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        background-color: aqua;
    }

 
}
.shop--page{
    margin: 0 auto;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 28px;
}

